body {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000;
  font-weight: normal;
  background-color: #f2f2f2;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
}
.header-index {
  min-height: 56px;
}
.navigation-main {
  height: 100%;
}
.menu-main {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: inherit;
  list-style: none;
}
.menu-main-item {
  width: 20%;
  height: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.menu-main-item:nth-child(2) {
  padding-left: 20px;
}
.menu-main-item:nth-child(3) {
  position: relative;
}
.menu-main-item img {
  position: absolute;
  top: 0px;
  left: 22%;
  width: 138px;
  height: 70px;
  z-index: 2;
}
.menu-main-item a {
  color: #000;
  text-decoration: none;
  line-height: 56px;
}
.image-wrapper {
  position: relative;
  padding-top: 77px;
  width: 100%;
  height: 431px;
  background-image: url("../img/bg-mounts.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
.image-wrapper:after {
  position: absolute;
  content: "";
  bottom: 0px;
  width: 100%;
  height: 57px;
  background: url("../img/bg-white.png") no-repeat bottom center;
}
.image-wrapper > * {
  display: block;
  margin: 0 auto;
}
.welcome-1 {
  margin-bottom: 10px;
  width: 458px;
  height: 78px;
}
.welcome-2 {
  margin-bottom: 50px;
  width: 176px;
  height: 30px;
}
.welcome-3 {
  margin-bottom: 56px;
  width: 458px;
  height: 78px;
}
.whole-page-container {
  padding-top: 63px;
  width: 100%;
  min-height: 216px;
  background-color: #fff;
}
.h1-index {
  margin: 0 0 37px;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.whole-page-container p {
  text-align: center;
}
.reasons-container{
  display: flex;
  flex-wrap: wrap;
}
.reason {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33%;
  text-align: center;
}
.reason-blue {
  padding-top: 51px;
  min-height: 256px;
  color: #fff;
  background-color: #81b3d2;
}
h3.reason-header {
  margin: 0px;
  font-size: 21px;
  font-weight: bold;
}
.reason-blue .reason-header {
  margin-bottom: 25px;
}
.reason .reason-paragraph {
  margin: 0px;
  line-height: 21px;
}
.reason-blue .reason-paragraph {
  margin-bottom: 25px;
}
.reason-white {
  position: relative;
  padding-top: 164px;
  min-height: 327px;
  background-color: #fff;
}
.reason-white::before {
  position: absolute;
  content: "";
  top: 57px;
  left: 160px;
  width: 80px;
  height: 75px;
  background: url("../img/iconset-reasons.png") no-repeat 0px 0px;
}
.reason-white:nth-child(4)::before {
  background-position: -134px 0px;
}
.reason-white:nth-child(5)::before {
  background-position: -262px 0px;
}
.reason-white .reason-header {
  margin-bottom: 32px;
}
.reason-white .reason-paragraph {
  color: #333;
}
.reason-grey {
  padding-top: 47px;
  min-height: 253px;
  background-color: #eee;
}
.reason-grey .reason-header {
  margin-bottom: 30px;
}
.reason-grey .reason-paragraph {
  margin-bottom: 30px;
  color: #333;
}
.reason-photo {
  width: 66.67%;
}
.reason-photo-one {
  background-image: url("../img/bg-reason-one.jpg");
}
.reason-photo-two {
  background-image: url("../img/bg-reason-two.jpg");
}
.whole-page-container-two {
  position: relative;
  padding-top: 55px;
  min-height: 290px;
}
h4.booking {
  margin: 0px;
  margin-bottom: 37px;
  font-size: 30px;
  text-align: center;
}
.booking-paragraph {
  margin: 0px;
  color: #333;
}
.search-form {
  position: absolute;
  top: 205px;
  left: 25%;
  width: 566px;
  /*height: 478px;*/
  background-color: #fff;
  z-index: 2;
}
.search-form-header {
  height: 83px;
  font-size: 21px;
  text-align: center;
  line-height: 83px;
  color: #fff;
  background-color: #766357;
}
.search-form-header a {
  text-decoration: none;
  color: #fff;
}
.modal-search-form {
  position: relative;
  display: none;
  flex-wrap: wrap;
  padding: 53px 56px 54px;
  height: 277px;
}
.modal-search-form.on {
  display: flex;
}
.modal-search-form label {
  box-sizing: border-box;
  width: 110px;
  line-height: 36px;
}
.kids {
  padding-left: 20px;
}
.modal-search-form input {
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
}
.modal-search-form input[type="date"] {
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 40px;
  width: 344px;
  height: 36px;
  font-family: "PT Sans";
  font-size: 14px;
  color: #000;
}
.modal-search-form input[type="date"]:hover {
  border: none;
}
.modal-search-form input[type="number"] {
  margin-bottom: 54px;
  width: 112px;
  height: 36px;
  font-family: "PT Sans";
  font-size: 14px;
  color: #000;
  text-align: center;
}
.modal-search-form .icon-calendar,
.adults-icon.icon-minus,
.adults-icon.icon-plus,
.kids-icon.icon-minus,
.kids-icon.icon-plus {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  font-family: "symbols-sedona";
  color: #a9a9a9;
  background-color: #f2f2f2;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  z-index: 2;
}
.modal-search-form .icon-calendar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 47px;
  width: 54px;
  left: 439px;
}
.icon-calendar.date-in {
  top: 53px;
}
.icon-calendar.date-out {
  top: 119px;
}
.adults-icon.icon-minus {
  top: 185px;
  left: 167px;
}
.adults-icon.icon-plus {
  top: 185px;
  left: 242px;
}
.kids-icon.icon-minus{
  top: 185px;
  left: 389px;
}
.kids-icon.icon-plus {
  top: 185px;
  left: 474px;
}
.search-form-button {
  box-sizing: border-box;
  width: 456px;
  height: 55px;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 55px;
  color: #fff;
  background-color: #81b3d2;
  border: none;
}
.search-form-button:focus {
  border: 1px solid #288ece;
  line-height: 53px;
}
.map {
  height: 590px;
  background-color: #cbdda9;
  background-image: url("../img/bg-map.jpg");
}
.footer-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -120px;
  padding: 0px 6%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}
.hashtag,
.social-icons,
.copyright {
box-sizing: border-box;
width: 20.5%;
}
.hashtag {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}
.social-icons {
  text-align: center;
}
.social-icons a {
  text-decoration: none;
}
.social-icons [class^="icon-"]::before,
.social-icons [class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  width: 47px;
  height: 47px;

  font-weight: normal;
  line-height: 47px;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  color: #fff;
  background-color: #81b3d2;
  speak: none;
}
.icon-facebook::before {
  content: "\66";
}
.icon-twitter::before {
  content: "\74";
}
.icon-youtube::before {
  content: "\f39e";
}
.copyright {
  position: relative;
}
.copyright::after {
  position: absolute;
  content: "";
  top: -9px;
  left: 81px;
  width: 113px;
  height: 39px;
  background-image: url("../img/bg-html-academy.png");
}

/* Код для валидации формы */

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.modal-search-form-error {
  animation: shake 0.6s;
}
